openapi: 3.1.0
info:
  description: The One Codex API (v1) -- programmatic access to One Codex's suite of microbial genomics data storage, analysis, and query tools.
  title: One Codex API (v1) Account Genomes API
  version: v1
servers:
- url: https://app.onecodex.com
security:
- apiKeyAuth: []
tags:
- name: Genomes
paths:
  /api/v1/genomes:
    get:
      operationId: get_genomes_instances
      parameters:
      - description: Page number. Defaults to 1. See Pagination for more details.
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
      - description: Number of requested paginated records. Defaults to 50. See Pagination for more details.
        in: query
        name: per_page
        required: false
        schema:
          default: 50
          format: int32
          type: integer
      - description: 'Optional Mongo-style JSON sort clause, e.g., `sort={"created_at": true}` to sort by created_at (descending)'
        in: query
        name: sort
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          default: null
      - description: 'Optional Mongo-style JSON filter clause, e.g., `where={"$uri": {"$eq": "/api/v1/samples/0ee172af60e84f61"}}`'
        in: query
        name: where
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          default: null
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  properties:
                    $uri:
                      example: /api/v1/genomes/0d77065796f8d173
                      pattern: ^/api/v1/genomes/[a-f0-9]{16}$
                      readOnly: true
                      title: $Uri
                      type: string
                    assemblies:
                      items:
                        properties:
                          $ref:
                            example: /api/v1/assemblies/a1b2c3d4e5f67890
                            format: uri
                            pattern: ^/api/v1/assemblies/[a-f0-9]{16}$
                            type: string
                        title: assemblies
                        type: object
                      title: Assemblies
                      type: array
                    created_at:
                      description: Timestamp for when the object was created on the One Codex platform, encoded as a [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) timestamp.
                      format: date-time
                      title: Created At
                      type: string
                    description:
                      anyOf:
                      - type: string
                      - type: 'null'
                      title: Description
                    name:
                      anyOf:
                      - type: string
                      - type: 'null'
                      title: Name
                    primary_assembly:
                      anyOf:
                      - properties:
                          $ref:
                            example: /api/v1/assemblies/a1b2c3d4e5f67890
                            format: uri
                            pattern: ^/api/v1/assemblies/[a-f0-9]{16}$
                            type: string
                        title: assemblies
                        type: object
                      - type: 'null'
                      title: Primary Assembly
                    tags:
                      items:
                        properties:
                          $ref:
                            example: /api/v1/tags/a1b2c3d4e5f67890
                            format: uri
                            pattern: ^/api/v1/tags/[a-f0-9]{16}$
                            type: string
                        title: tags
                        type: object
                      title: Tags
                      type: array
                    taxon:
                      properties:
                        $ref:
                          example: /api/v1/taxa/a1b2c3d4e5f67890
                          format: uri
                          pattern: ^/api/v1/taxa/[a-f0-9]{16}$
                          type: string
                      title: taxa
                      type: object
                  required:
                  - $uri
                  - assemblies
                  - created_at
                  - description
                  - name
                  - primary_assembly
                  - tags
                  - taxon
                  title: genomes
                  type: object
                type: array
          description: OK
      summary: GET genomes instances
      tags:
      - Genomes
  /api/v1/genomes/{id}:
    get:
      operationId: get_genomes_self
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  $uri:
                    example: /api/v1/genomes/0d77065796f8d173
                    pattern: ^/api/v1/genomes/[a-f0-9]{16}$
                    readOnly: true
                    title: $Uri
                    type: string
                  assemblies:
                    items:
                      properties:
                        $ref:
                          example: /api/v1/assemblies/a1b2c3d4e5f67890
                          format: uri
                          pattern: ^/api/v1/assemblies/[a-f0-9]{16}$
                          type: string
                      title: assemblies
                      type: object
                    title: Assemblies
                    type: array
                  created_at:
                    description: Timestamp for when the object was created on the One Codex platform, encoded as a [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) timestamp.
                    format: date-time
                    title: Created At
                    type: string
                  description:
                    anyOf:
                    - type: string
                    - type: 'null'
                    title: Description
                  name:
                    anyOf:
                    - type: string
                    - type: 'null'
                    title: Name
                  primary_assembly:
                    anyOf:
                    - properties:
                        $ref:
                          example: /api/v1/assemblies/a1b2c3d4e5f67890
                          format: uri
                          pattern: ^/api/v1/assemblies/[a-f0-9]{16}$
                          type: string
                      title: assemblies
                      type: object
                    - type: 'null'
                    title: Primary Assembly
                  tags:
                    items:
                      properties:
                        $ref:
                          example: /api/v1/tags/a1b2c3d4e5f67890
                          format: uri
                          pattern: ^/api/v1/tags/[a-f0-9]{16}$
                          type: string
                      title: tags
                      type: object
                    title: Tags
                    type: array
                  taxon:
                    properties:
                      $ref:
                        example: /api/v1/taxa/a1b2c3d4e5f67890
                        format: uri
                        pattern: ^/api/v1/taxa/[a-f0-9]{16}$
                        type: string
                    title: taxa
                    type: object
                required:
                - $uri
                - assemblies
                - created_at
                - description
                - name
                - primary_assembly
                - tags
                - taxon
                title: genomes
                type: object
          description: OK
      summary: GET genomes
      tags:
      - Genomes
components:
  securitySchemes:
    apiKeyAuth:
      in: header
      name: X-API-Key
      type: apiKey
