openapi: 3.1.0
info:
  description: The One Codex API (v1) -- programmatic access to One Codex's suite of microbial genomics data storage, analysis, and query tools.
  title: One Codex API (v1) Account Annotation Sets API
  version: v1
servers:
- url: https://app.onecodex.com
security:
- apiKeyAuth: []
tags:
- name: Annotation Sets
paths:
  /api/v1/annotation_sets:
    get:
      operationId: get_annotation_sets_instances
      parameters:
      - description: Page number. Defaults to 1. See Pagination for more details.
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
      - description: Number of requested paginated records. Defaults to 50. See Pagination for more details.
        in: query
        name: per_page
        required: false
        schema:
          default: 50
          format: int32
          type: integer
      - description: 'Optional Mongo-style JSON sort clause, e.g., `sort={"created_at": true}` to sort by created_at (descending)'
        in: query
        name: sort
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          default: null
      - description: 'Optional Mongo-style JSON filter clause, e.g., `where={"$uri": {"$eq": "/api/v1/samples/0ee172af60e84f61"}}`'
        in: query
        name: where
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          default: null
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  properties:
                    $uri:
                      example: /api/v1/annotation_sets/0d77065796f8d173
                      pattern: ^/api/v1/annotation_sets/[a-f0-9]{16}$
                      readOnly: true
                      title: $Uri
                      type: string
                    assembly:
                      properties:
                        $ref:
                          example: /api/v1/assemblies/a1b2c3d4e5f67890
                          format: uri
                          pattern: ^/api/v1/assemblies/[a-f0-9]{16}$
                          type: string
                      title: assemblies
                      type: object
                    created_at:
                      description: Timestamp for when the object was created on the One Codex platform, encoded as a [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) timestamp.
                      format: date-time
                      title: Created At
                      type: string
                    job:
                      anyOf:
                      - properties:
                          $ref:
                            example: /api/v1/jobs/a1b2c3d4e5f67890
                            format: uri
                            pattern: ^/api/v1/jobs/[a-f0-9]{16}$
                            type: string
                        title: jobs
                        type: object
                      - type: 'null'
                      title: Job
                  required:
                  - $uri
                  - assembly
                  - created_at
                  - job
                  title: annotation_sets
                  type: object
                type: array
          description: OK
      summary: GET annotation_sets instances
      tags:
      - Annotation Sets
  /api/v1/annotation_sets/{id}:
    get:
      operationId: get_annotation_sets_self
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  $uri:
                    example: /api/v1/annotation_sets/0d77065796f8d173
                    pattern: ^/api/v1/annotation_sets/[a-f0-9]{16}$
                    readOnly: true
                    title: $Uri
                    type: string
                  assembly:
                    properties:
                      $ref:
                        example: /api/v1/assemblies/a1b2c3d4e5f67890
                        format: uri
                        pattern: ^/api/v1/assemblies/[a-f0-9]{16}$
                        type: string
                    title: assemblies
                    type: object
                  created_at:
                    description: Timestamp for when the object was created on the One Codex platform, encoded as a [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) timestamp.
                    format: date-time
                    title: Created At
                    type: string
                  job:
                    anyOf:
                    - properties:
                        $ref:
                          example: /api/v1/jobs/a1b2c3d4e5f67890
                          format: uri
                          pattern: ^/api/v1/jobs/[a-f0-9]{16}$
                          type: string
                      title: jobs
                      type: object
                    - type: 'null'
                    title: Job
                required:
                - $uri
                - assembly
                - created_at
                - job
                title: annotation_sets
                type: object
          description: OK
      summary: GET annotation_sets
      tags:
      - Annotation Sets
  /api/v1/annotation_sets/{id}/download_csv:
    post:
      operationId: post_annotation_sets_download_csv
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  download_uri:
                    title: Download Uri
                    type: string
                required:
                - download_uri
                title: AnnotationSetDownloadCsvSchema
                type: object
          description: OK
      summary: POST annotation_sets download_csv
      tags:
      - Annotation Sets
  /api/v1/annotation_sets/{id}/download_uri:
    post:
      operationId: post_annotation_sets_download_uri
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  download_uri:
                    title: Download Uri
                    type: string
                  expires_in_hours:
                    title: Expires In Hours
                    type: integer
                  save_as_filename:
                    title: Save As Filename
                    type: string
                required:
                - download_uri
                - expires_in_hours
                - save_as_filename
                title: AnnotationSetDownloadUriSchema
                type: object
          description: OK
      summary: POST annotation_sets download_uri
      tags:
      - Annotation Sets
components:
  securitySchemes:
    apiKeyAuth:
      in: header
      name: X-API-Key
      type: apiKey
