openapi: 3.1.0
info:
  description: The One Codex API (v1) -- programmatic access to One Codex's suite of microbial genomics data storage, analysis, and query tools.
  title: One Codex API (v1) Account Events API
  version: v1
servers:
- url: https://app.onecodex.com
security:
- apiKeyAuth: []
tags:
- name: Events
paths:
  /api/v1/events:
    get:
      operationId: get_events_instances
      parameters:
      - description: Page number. Defaults to 1. See Pagination for more details.
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
      - description: Number of requested paginated records. Defaults to 50. See Pagination for more details.
        in: query
        name: per_page
        required: false
        schema:
          default: 50
          format: int32
          type: integer
      - description: 'Optional Mongo-style JSON sort clause, e.g., `sort={"created_at": true}` to sort by created_at (descending)'
        in: query
        name: sort
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          default: null
      - description: 'Optional Mongo-style JSON filter clause, e.g., `where={"$uri": {"$eq": "/api/v1/samples/0ee172af60e84f61"}}`'
        in: query
        name: where
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          default: null
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/events'
                type: array
          description: OK
      summary: GET events instances
      tags:
      - Events
  /api/v1/events/{id}:
    get:
      operationId: get_events_self
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/events'
          description: OK
      summary: GET events
      tags:
      - Events
components:
  schemas:
    events:
      properties:
        $uri:
          example: /api/v1/events/0d77065796f8d173
          pattern: ^/api/v1/events/[a-f0-9]{16}$
          readOnly: true
          title: $Uri
          type: string
        payload:
          additionalProperties: true
          description: The webhook payload.
          title: Payload
          type: object
        status:
          description: The status of the webhook for the event.
          enum:
          - success
          - failed
          - pending
          - retryable
          title: Status
          type: string
      required:
      - $uri
      - payload
      - status
      title: events
      type: object
  securitySchemes:
    apiKeyAuth:
      in: header
      name: X-API-Key
      type: apiKey
