openapi: 3.1.0
info:
  description: The One Codex API (v1) -- programmatic access to One Codex's suite of microbial genomics data storage, analysis, and query tools.
  title: One Codex API (v1) Account Functional Profiles API
  version: v1
servers:
- url: https://app.onecodex.com
security:
- apiKeyAuth: []
tags:
- name: Functional Profiles
paths:
  /api/v1/functional_profiles:
    get:
      operationId: get_functional_profiles_instances
      parameters:
      - description: Page number. Defaults to 1. See Pagination for more details.
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
      - description: Number of requested paginated records. Defaults to 50. See Pagination for more details.
        in: query
        name: per_page
        required: false
        schema:
          default: 50
          format: int32
          type: integer
      - description: 'Optional Mongo-style JSON sort clause, e.g., `sort={"created_at": true}` to sort by created_at (descending)'
        in: query
        name: sort
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          default: null
      - description: 'Optional Mongo-style JSON filter clause, e.g., `where={"$uri": {"$eq": "/api/v1/samples/0ee172af60e84f61"}}`'
        in: query
        name: where
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          default: null
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/functional_profiles'
                type: array
          description: OK
      summary: GET functional_profiles instances
      tags:
      - Functional Profiles
  /api/v1/functional_profiles/public:
    get:
      operationId: get_functional_profiles_instances_public
      parameters:
      - description: Page number. Defaults to 1. See Pagination for more details.
        in: query
        name: page
        required: false
        schema:
          default: 1
          format: int32
          type: integer
      - description: Number of requested paginated records. Defaults to 50. See Pagination for more details.
        in: query
        name: per_page
        required: false
        schema:
          default: 50
          format: int32
          type: integer
      - description: 'Optional Mongo-style JSON sort clause, e.g., `sort={"created_at": true}` to sort by created_at (descending)'
        in: query
        name: sort
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          default: null
      - description: 'Optional Mongo-style JSON filter clause, e.g., `where={"$uri": {"$eq": "/api/v1/samples/0ee172af60e84f61"}}`'
        in: query
        name: where
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          default: null
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/functional_profiles'
                type: array
          description: OK
      summary: GET functional_profiles instances_public
      tags:
      - Functional Profiles
  /api/v1/functional_profiles/{id}:
    get:
      operationId: get_functional_profiles_self
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/functional_profiles'
          description: OK
      summary: GET functional_profiles
      tags:
      - Functional Profiles
  /api/v1/functional_profiles/{id}/cancel:
    post:
      operationId: post_functional_profiles_cancel
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/functional_profiles'
          description: OK
      summary: POST functional_profiles cancel
      tags:
      - Functional Profiles
  /api/v1/functional_profiles/{id}/file_details:
    get:
      operationId: get_functional_profiles_file_details
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  files:
                    description: A list of output files.
                    items:
                      properties:
                        filename:
                          description: The filename of the output file.
                          title: Filename
                          type: string
                        filepath:
                          description: The full file path.
                          title: Filepath
                          type: string
                        size:
                          description: File size in bytes.
                          minimum: 0
                          title: Size
                          type: integer
                        url:
                          description: Pre-signed download URL.
                          title: Url
                          type: string
                      required:
                      - filename
                      - filepath
                      - size
                      - url
                      title: AnalysisFileDetailsSchema
                      type: object
                    title: Files
                    type: array
                required:
                - files
                title: AnalysisFileDetailsResponse
                type: object
          description: OK
      summary: GET functional_profiles file_details
      tags:
      - Functional Profiles
  /api/v1/functional_profiles/{id}/files:
    delete:
      operationId: delete_functional_profiles_files
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      summary: DELETE functional_profiles files
      tags:
      - Functional Profiles
    get:
      operationId: get_functional_profiles_files
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                description: A mapping of filenames to download URLs.
                type: object
          description: OK
      summary: GET functional_profiles files
      tags:
      - Functional Profiles
  /api/v1/functional_profiles/{id}/filtered_results:
    get:
      operationId: get_functional_profiles_filtered_results
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: functional_group
        required: true
        schema:
          enum:
          - pathways
          - metacyc
          - eggnog
          - go
          - ko
          - ec
          - pfam
          - reaction
          type: string
      - in: query
        name: metric
        required: true
        schema:
          enum:
          - rpk
          - cpm
          - abundance
          - coverage
          - complete_abundance
          type: string
      - in: query
        name: taxa_stratified
        required: false
        schema:
          default: false
          type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  n_mapped:
                    minimum: 0
                    title: N Mapped
                    type: integer
                  n_reads:
                    minimum: 0
                    title: N Reads
                    type: integer
                  table:
                    items:
                      properties:
                        id:
                          title: Id
                          type: string
                        name:
                          anyOf:
                          - type: string
                          - type: 'null'
                          default: null
                          title: Name
                        taxon_id:
                          anyOf:
                          - type: string
                          - type: 'null'
                          default: null
                          title: Taxon Id
                        taxon_name:
                          anyOf:
                          - type: string
                          - type: 'null'
                          default: null
                          title: Taxon Name
                        value:
                          title: Value
                          type: number
                      required:
                      - id
                      - value
                      title: _FunctionalFilteredResultsRow
                      type: object
                    title: Table
                    type: array
                required:
                - n_mapped
                - n_reads
                - table
                title: FunctionalFilteredResultsResponse
                type: object
          description: OK
      summary: GET functional_profiles filtered_results
      tags:
      - Functional Profiles
  /api/v1/functional_profiles/{id}/logs:
    get:
      operationId: get_functional_profiles_logs
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      - in: query
        name: tail
        required: false
        schema:
          anyOf:
          - minimum: 1
            type: integer
          - type: 'null'
          default: null
      responses:
        '200':
          description: OK
      summary: GET functional_profiles logs
      tags:
      - Functional Profiles
  /api/v1/functional_profiles/{id}/rerun:
    post:
      operationId: post_functional_profiles_rerun
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/functional_profiles'
          description: OK
      summary: POST functional_profiles rerun
      tags:
      - Functional Profiles
  /api/v1/functional_profiles/{id}/results:
    get:
      operationId: get_functional_profiles_results
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
      summary: GET functional_profiles results
      tags:
      - Functional Profiles
components:
  schemas:
    functional_profiles:
      properties:
        $uri:
          example: /api/v1/functional_profiles/0d77065796f8d173
          pattern: ^/api/v1/functional_profiles/[a-f0-9]{16}$
          readOnly: true
          title: $Uri
          type: string
        complete:
          default: false
          title: Complete
          type: boolean
        created_at:
          description: Timestamp for when the object was created on the One Codex platform, encoded as a [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) timestamp.
          format: date-time
          title: Created At
          type: string
        error_msg:
          anyOf:
          - maxLength: 255
            type: string
          - type: 'null'
          default: null
          description: The error message from the analysis, if it failed.
          title: Error Msg
        job:
          description: 'A reference to the versioned job underlying the analysis, e.g., `{"$ref": "/api/v1/jobs/d512cb556241440f"}`.'
          properties:
            $ref:
              example: /api/v1/jobs/a1b2c3d4e5f67890
              format: uri
              pattern: ^/api/v1/jobs/[a-f0-9]{16}$
              type: string
          title: jobs
          type: object
        job_args:
          additionalProperties: true
          default: {}
          description: The arguments passed into this analysis (can be `null`).
          title: Job Args
          type: object
        sample:
          description: 'A reference to the sample underlying the analysis, e.g., `{"$ref": "/api/v1/sample/0ee172af60e84f61"}`.'
          properties:
            $ref:
              example: /api/v1/samples/a1b2c3d4e5f67890
              format: uri
              pattern: ^/api/v1/samples/[a-f0-9]{16}$
              type: string
          title: samples
          type: object
        success:
          default: false
          title: Success
          type: boolean
        updated_at:
          anyOf:
          - format: date-time
            type: string
          - type: 'null'
          default: null
          description: Timestamp for when the object was last updated on the One Codex platform, encoded as a [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) timestamp.
          title: Updated At
      required:
      - $uri
      - created_at
      - job
      - sample
      title: functional_profiles
      type: object
  securitySchemes:
    apiKeyAuth:
      in: header
      name: X-API-Key
      type: apiKey
